/**********************************
GENERAL STYLES
**********************************/

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
}

ul {
	list-style-type: none;
}

#wrapper {
	width: 550px;
	height: 500px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	margin-top: 20px;
	font-family: sans-serif;
	background-color: skyblue;
	text-shadow: 2px 2px 5px #000;
	color: #fff;
	border-radius: 8px;
	box-shadow: 2px 2px 5px #000;
}

h2 {
	text-align: center;
	margin: 20px 0px;
}
/**********************************
MENU-ONE STYLES
**********************************/

div#menu-one {
	margin-top: 20px;
	width: 550px;
	height: 35px;
	text-align: center;
	background: linear-gradient(#666666, #00006B);
	border-radius: 8px;
	font-size: 1em;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
	

}

div#menu-one ul {
	
	height: auto;	
	margin-bottom: 0px;
	padding: 8px 0px;
	
}

div#menu-one ul li {
	display: inline;
	padding: 20px;
}

div#menu-one ul li a {
	text-decoration: none;
	padding: 8px 8px 8px 8px;
	color: #fff;
	transition: background-color .40s ease-in;
}

div#menu-one ul li a:hover {
	background-color: #ccc;
	color: #00006B;
}




/**********************************
MENU-TWO STYLES
**********************************/
#menu-two,
#menu-two ul,
#menu-two li,
#menu-two a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;

}


 
#menu-two {
    height: 40px;
    width: 550px; 
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%); 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 
#menu-two li {
    position: relative;
    list-style: none;
    float: left;
    display:80px;
}

#menu-two li a {
    display: block;
    padding: 0 14px;
    margin: 6px 0px;
    line-height: 28px;
    text-decoration: none;
 
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
 
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
 
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
 
#menu-two li:first-child a { border-left: none; }
#menu-two li:last-child a{ border-right: none; }
 
#menu-two li:hover > a { color: yellow; }

.menu ul {
    position: absolute;
    top: 40px;
    left: 0;
 
    opacity: 0;
    background: #1f2024;
 
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
 
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}
 
.menu li:hover > ul { opacity: 1; }
 
.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
 
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}
 
.menu li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
}

.menu ul li a {
    width: 150px;
    padding: 4px 0 4px 40px;
    margin: 0;
 
    border: none;
    border-bottom: 1px solid #353539;
}
 
.menu ul li:last-child a { border: none; }